include README.md
include LICENSE
include CHANGELOG.md
include CONTRIBUTING.md
recursive-include aws_fleet_scout *.py
recursive-include examples *.py *.sh
recursive-include tests *.py
global-exclude __pycache__
global-exclude *.py[co]
global-exclude .DS_Store
